.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  border: 2px dashed goldenrod;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.item {
  background-color: bisque;
  border: 2px solid red;
  min-height: 15rem;
  font-size: 2rem;
  order: 2;
  flex-grow: 1;
}

.item-1 {
  font-size: 8rem;
}

.item-2 {
  font-size: 4rem;
}

.item-4 {
  font-size: 3rem;
  flex-grow: 2;
  align-self: flex-start;
}

.item-5 {
  order: 1;
  flex-grow: 3.5;
}

.item-8 {
  align-self: flex-end;
}
