*{
  direction: rtl;
}.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 31rem;
}
.first_row{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 50rem; */
}
.seconde_row{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 50rem; */
}
.gamer{
  max-width: 30rem;
}
.xiaomi{
  margin-right: 0.5rem;
  height: 15rem;
  max-width:14.5rem;
}
.google{
  margin-right: 0.5rem;
  max-width: 14.5rem;
  height: 15rem;
}
.laptop{
  height: 15rem;
  max-width: 15rem;
}
.facebook {
  margin-right: 0.5rem;
  height: 15rem;
  max-width: 14.5rem;
}